<div onclick="fireEvent({name:'showPage', page:'index'})">Index</div>

<div onclick="fireEvent({name:'showPage', page:'history'})">History</div>

<div onclick="fireEvent({name:'showPage', page:'search'})">Search</div>

<div id="speedReadItem" style="display:none" onclick="fireEvent({name:'dotIconClicked'})">Speed Read</div>

<hr class="menu-divider" />

<div onclick="fireEvent({name:'showPage', page:'about'})">About</div>

<script>
	registerEventListener(
		(e) => e.name == "menuIconClicked",
		function (event) {
			event.eventObject.stopPropagation();
			document.getElementById("settingsDropdown").style.display = "none";
			const dd = document.getElementById("dropdown");
			dd.style.display = dd.style.display === "block" ? "none" : "block";
		}
	);

	function hideDropDown() {
		document.getElementById("dropdown").style.display = "none";
	}

	window.addEventListener("click", () => {
		hideDropDown();
		document.getElementById("settingsDropdown").style.display = "none";
	});

	registerEventListener(
		(e) => e.name == "showPage",
		function (event) {
			document.getElementById("speedReadItem").style.display =
				event.page === "chapter" ? "flex" : "none";
		}
	);
</script>