
<div onclick="fireEvent({name:'showPage', page:'index'})">Index</div>

<div onclick="fireEvent({name:'showPage', page:'history'})">History</div>

<div style="display:flex" onclick="var i = this.querySelector('input').click(); event.stopPropagation()">
  <div>Titles</div>
  <div><input type="checkbox" data-value="titles" onchange="setSetting(this.checked, 'titles')" onclick="event.stopPropagation()"></div>
</div>

<div style="display:flex" onclick="var i = this.querySelector('input').click(); event.stopPropagation()">
  <div>Verses</div>
  <div><input type="checkbox" data-value="verses" onchange="setSetting(this.checked, 'verses')" onclick="event.stopPropagation()"></div>
</div>

<div style="display:flex" onclick="var i = this.querySelector('input').click(); event.stopPropagation()">
  <div>References</div>
  <div><input type="checkbox" data-value="references" onchange="setSetting(this.checked, 'references')" onclick="event.stopPropagation()"></div>
</div>

<div style="display:flex" onclick="var i = this.querySelector('input').click(); event.stopPropagation()">
  <div>Footnotes</div>
  <div><input type="checkbox" data-value="footnotes" onchange="setSetting(this.checked, 'footnotes')" onclick="event.stopPropagation()"></div>
</div>

<div style="display:flex">
  <div>Spelling</div>
  <div><select style="padding: 6px; border-radius: 6px; background-color: #c3c3ff;" id="spelling" onclick="event.stopPropagation()" onchange="setSetting(this.options[this.selectedIndex].value, 'spelling'); event.stopPropagation()">
    <option value="ca">Canadian</option>
    <option value="gb">British</option>
    <option value="us">USA</option>
  </select>
  </div>
</div>

<div style="display:flex">
  <div>Case</div>
  <div><select style="padding: 6px; border-radius: 6px; background-color: #c3c3ff;" id="case" onclick="event.stopPropagation()" onchange="setSetting(this.options[this.selectedIndex].value, 'case'); event.stopPropagation()">
    <option value="lower" data-version="L">Lower case</option>
    <option value="upper" data-version="U">Upper case</option>
  </select>
  </div>
</div>

<div style="display:flex">
  <div>God's Name</div>
  <div><select style="padding: 6px; border-radius: 6px; background-color: #c3c3ff;" id="name" onclick="event.stopPropagation()" onchange="setSetting(this.options[this.selectedIndex].value, 'name'); event.stopPropagation()">
    <option value="Yahweh" data-letter="Y">Yahweh</option>
    <option value="LORD" data-letter="L">LORD</option>
    <option value="Jehovah" data-letter="J">Jehovah</option>
    <option value="YHWH" data-letter="W">YHWH</option>
    <option value="YHVH" data-letter="V">YHVH</option>
    <option value="HaShem" data-letter="H">HaShem</option>
    <option value="Adonai" data-letter="A">Adonai</option>
    <option value="Elohim" data-letter="E">Elohim</option>
    <option value="G-d" data-letter="D">G-d</option>
    <option value="God" data-letter="G">God</option>
  </select>
  </div>
</div>

<div>
  <div>Font Size</div>
  <div class="buttonHolder">
    <button onclick="fontSize(1.1, event); event.stopPropagation()">+</button> 
    <button onclick="fontSize(0.9091, event); event.stopPropagation()">-</button>
  </div>
</div>

<div>
  <div>Mode</div>
  <div class="buttonHolder">
    <button onclick="darkMode(true); event.stopPropagation()">Dark</button> 
    <button onclick="darkMode(false); event.stopPropagation()">Light</button>
  </div>
</div>

<div onclick="fireEvent({name:'showPage', page:'about'})">About</div>



<script>

function indexClicked() {
  history.pushState('index', '')
  fireEvent({name:"showPage", page:"index"})
}

function fontSize(scale, event) {
  var size = localStorage.fontSize
  if (size == undefined) size = 16
  size = parseFloat(size)
  size = size * scale
  localStorage.fontSize = size
  document.getElementById("body").style.fontSize = size + "px"

  if (event) {
    event.stopImmediatePropagation()
    event.stopPropagation()
    event.preventDefault()
  }
}

fontSize(1)

function aboutClicked() {
  history.pushState('about', '')
  fireEvent({name:"showPage", page:"about"})

  fetch("about.html").then(function (response) {
    return response.text()
  }).then(function (text) {
    document.getElementById("about").innerHTML = text
  })
}


function setSetting(value, name) {
  if (localStorage.settings == undefined) localStorage.settings = "{}"
  var settings = JSON.parse(localStorage.settings)
  settings[name] = value

  localStorage.settings = JSON.stringify(settings)
  applySettings()
}

function darkMode(dark) {
  localStorage.mode = dark ? "dark" : "light"

  if (dark) {
    document.body.classList.add("dark")
  } else {
    document.body.classList.remove("dark")
  }
}

darkMode(localStorage.mode == "dark")

function showDropDown(event) {
  event.stopPropagation()
  document.getElementById("dropdown").style.display = "block"
}

function hideDropDown() {
  document.getElementById("dropdown").style.display = "none"
}

window.addEventListener('click', (event) => {
  hideDropDown()
})


for(key in JSON.parse(localStorage.settings ?? "{}")) {
  var value = JSON.parse(localStorage.settings ?? "{}")[key]
  if (key == "spelling" || key == "name" || key == "case") {
    document.querySelectorAll("select#"+key+" option").forEach(op => {
      if (op.value == value) {
        op.selected = true
      }
    })
  } else {
    document.querySelector("input[data-value="+key+"]").checked = value
  }
}

</script>