@font-face {
	font-family: 'SourceSansPro';
	src: url('fonts/SourceSansPro-Regular.ttf') format('truetype'),
}

body {
	font-family: 'SourceSansPro', sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #fffef8;
	margin: 0px;
	padding: 0px;
}

#menuIcon {
	position: absolute;
	float: left;
	margin-left: 8px;
	cursor: pointer;
	display: none
}

#header {
	background-color: #f8f8f8;
	border-bottom: 1px solid #ccc;
	text-align: center;
	height: 34px;
	padding-top: 9px;
}

#body {
	padding: 8px;
	height: calc(100vh - 66px);
	overflow: auto;
}

#header h2 {
	margin: 0px;
	padding: 0px;
}

a {
	color: #371eff;
	text-decoration: none;
}

div.index-book {
	font-weight: bold;
}

div.index-chapters {
	margin-bottom: 12px;
	line-height: 1.3;
}

div.index-chapters a {
	margin-right: 1px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		color: #fff;
	}

	a {
		color: #0f0;
	}

	a:visited {
		color: #8f0;
	}
}
